{% extends 'base.html' %}


{% block content %}

<section class="content"><br><br><br>
<article>
<img src="static/images/m24logo-med.jpg">
<h5>Press the green button to book an appointment<h5>
<a class="waves-effect waves-light btn-large btn-floating pulse"  href="add_request_user"><i class="material-icons right">send</i></a></p>



<h3>For men & women<h3>
<h1>Your hair the way you like it!!!</h1>

<div class ="text">
<p>New hair styles | Diversity in colours and cutting techniques | 
Brides hairstyles including make-up on location | Perms/waves and curls for ± 3 months</p>
</div>

<div class="hair-pics">

<div class="row img-row">

<figure class="columns four"><img src="static/images/01.jpg">

<figcaption>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/02.jpg">

<figcaption>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/03.jpg">

<figcaption>cool!</figcaption>

</figure>

</div>

<div class="row img-row">

<figure class="columns four"><img src="static/images/04.jpg">

<figcaption>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/05.jpg">

<figcaption></strong>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/06.jpg">

<figcaption>cool!</figcaption>

</figure>

</div>

<div class="row img-row">

<figure class="columns four"><img src="static/images/07.jpg">

<figcaption>cool!</figcaption>

</figure>

<figure class="columns four"><img src="static/images/08.jpg">

<figcaption>cool!</strong></figcaption>

</figure>

<figure class="columns four"><img src="static/images/09.jpg">

<figcaption>cool!</figcaption>

</figure>

</div>

Because of our flexible working hours it is possible to plan an appointment in the short term.
If you are busy during the day you can make an appointment with us in the evening.<br/>
<strong>Opening times</strong><br/>
Monday to Friday from 8.00 to 21.00
Saturday from 8.00 to 18.00 </ p>

</div>
<p></p><a class="waves-effect waves-light btn-large"  href="add_request_user">BOOK AN APPOINTMENT<i class="material-icons right">send</i></a></p>

<div class="large-window">

<div class="window-tint">

<div class="promo-text"><strong><span></span></strong><a href="" class="window-cta">bel 0651297749</a></div>

</div>

</div>





</article>



</section>

<script src="static/js/jquery-2.1.3.min.js"></script>

<script src="static/js/functions.js"></script>



{% endblock content %}




