<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}" type="text/css" />
    <link rel="stylesheet" href="../static/css/admin.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
    
    
    <link rel="icon" type="static/image/png" href="static/images/favicon.png">

</head>
<title>M24 Amin</title>

<body>
    <header>
        <nav>
            
            <div class="nav-wrapper">
                <a href="{{url_for('get_index')}}" class="brand-logo">&nbsp; Admin</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_requests_admin')}}">Appointments</a></li>
                    <li><a href="{{ url_for('show_transactions_admin')}}">Transactions</a></i>
                    <li><a href="{{url_for('get_graphs_admin')}}">Graphs</a></li>
                    </ul>
<ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_requests_admin')}}">Appointments</a></li>
                    <li><a href="{{ url_for('show_transactions_admin')}}">Transactions</a></i>
                    <li><a href="{{url_for('get_graphs_admin')}}">Graphs</a></li>
                </ul>
            </div>
        </nav>
        <div class="m24logo"><img src="/static/images/m24logo.jpg"  />
        </div>
    </header>
    <div class="container">
    {% block content %}
    
    
    
    
    {% endblock content %}
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
        
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        $(".delete_request_btn").click(function() {
            $('#hidden-request-id').attr('value', $(this).data("requestid"));
        });
            
        $('.modal').modal();
        



      
        
    </script>
</body>

</html>